---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}
const {
  title = "Sergi Tubert Sabater",
  description = "Full-stack engineer. Backend at heart.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
